
        html {
            background-color: khaki;
            font-size: 30px;
            font-family: "TH Sarabun New";
        }
        h1 {
            color: brown;
            text-align: center;
        }
        body {
            width: 600px;
            margin: 0 auto;
            background-color: aquamarine;
            padding: 0 20px 20px 20px;
            border: 5px solid black;
        }
        img {
            display: block;
            margin: 0 auto;
            border: 1px solid black;
        }

